<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>Samuel Mbugua</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->


    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.MobileFormEntryActivator</activator>

    <require_modules>
        <require_module version="3.8.5">org.openmrs.module.xforms</require_module>
        <require_module version="1.0.0">org.openmrs.module.household</require_module>
    </require_modules>

    <!-- Extensions -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.MobileFormEntryAdminExt</class>
    </extension>

    <!-- Maps hibernate files, if present -->
    <mappingFiles>
        Economic.hbm.xml
        EconomicConceptMap.hbm.xml
        EconomicObject.hbm.xml
        HouseholdMember.hbm.xml
        MobileFormEntryError.hbm.xml
        MobileFormHousehold.hbm.xml
        Survey.hbm.xml
    </mappingFiles>

    <!-- Required Privileges -->
    <privilege>
        <name>Manage Economic Objects</name>
        <description>
            Allows user to manage economic objects
        </description>
    </privilege>
    <privilege>
        <name>View Mobile Form Entry Properties</name>
        <description>
            Allows user to view module properties
        </description>
    </privilege>
    <privilege>
        <name>View Mobile Form Errors</name>
        <description>
            Allows user to view mobile form entry errors
        </description>
    </privilege>
    <privilege>
        <name>Comment on Mobile Form Entry Errors</name>
        <description>
            Allows user to review and comment on mobile form errors
        </description>
    </privilege>
    <privilege>
        <name>Resolve Mobile Form Entry Error</name>
        <description>
            Allows user to resolve mobile form entry error
        </description>
    </privilege>
    <privilege>
        <name>Manage Mobile Resources</name>
        <description>
            Allows user to manage Mobile Form Xforms/Resources
        </description>
    </privilege>
    <!-- /Required Privileges -->

    <!-- Any required properties goes here-->
    <globalProperty>
        <property>${project.parent.artifactId}.resources_dir</property>
        <defaultValue>amrsmobileforms/resources</defaultValue>
        <description>Directory for storing xforms to be filled in and other special files.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.drop_dir</property>
        <defaultValue>amrsmobileforms/drop_dir</defaultValue>
        <description>Directory where mobile devices drop forms.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.queue_dir</property>
        <defaultValue>amrsmobileforms/queue</defaultValue>
        <description>Directory for queuing mobile forms before they are processed.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.error_dir</property>
        <defaultValue>amrsmobileforms/error</defaultValue>
        <description>Directory for keeping erred forms during processing</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.archive_dir</property>
        <defaultValue>amrsmobileforms/archive/%Y/%M</defaultValue>
        <description>Directory for storing successfully processed forms.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.concept.adults</property>
        <defaultValue></defaultValue>
        <description>Concept used for household adults property.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.concept.children</property>
        <defaultValue></defaultValue>
        <description>Concept used for household children property.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.concept.eligibleAdults</property>
        <defaultValue></defaultValue>
        <description>Concept used for household eligible adults property.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.concept.eligibleChildren</property>
        <defaultValue></defaultValue>
        <description>Concept used for household eligible children property.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.concept.returnVisitDate</property>
        <defaultValue></defaultValue>
        <description>Concept used for household return visit date observations.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.defaultHouseholdDefinition</property>
        <defaultValue></defaultValue>
        <description>Household definition id to use when creating households from Mobile Form Entry submissions.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.defaultHouseholdEncounterType</property>
        <defaultValue></defaultValue>
        <description>Household encounter type id to use when creating households from Mobile Form Entry submissions.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.hctIdentifierType</property>
        <defaultValue>8</defaultValue>
        <description>HCT patient identifier type id to use when creating HCT patient identifiers from Mobile Form Entry submissions.</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.phonenumberAttributeType</property>
        <defaultValue>10</defaultValue>
        <description>Phone number person attribute type id to use when creating phone number person attributes from Mobile Form Entry submissions.</description>
    </globalProperty>

    <!-- DWR -->
    <dwr>
        <allow>
            <create creator="new" javascript="DWRAMRSMobileFormsService">
                <param name="class" value="org.openmrs.module.${project.parent.artifactId}.web.DWRAMRSMobileFormsService"/>
                <include method="saveEconomicConceptMap"/>
                <include method="populateCommentForm"/>
                <include method="saveComment"/>
                <include method="resolveError"/>

            </create>
            <convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.EconomicConceptMap"/>
            <convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.MobileFormEntryErrorModel" javascript="MobileFormEntryErrorModel"/>
            <convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.MobileFormEntryError" javascript="MobileFormEntryError"/>
            <convert converter="bean" match="org.openmrs.User" javascript="User"/>

        </allow>

        <signatures>
            <![CDATA[
			import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRAMRSMobileFormsService;
				DWRAMRSMobileFormsService.saveEconomicConceptMap(Integer id, Integer economicId, Integer conceptId);
				
				DWRAMRSMobileFormsService.populateCommentForm(Integer errorId);
				DWRAMRSMobileFormsService.saveComment(Integer errorId, String comment);
				DWRAMRSMobileFormsService.resolveError(String householdId,Integer errorId,String errorItemAction,String birthDate,String patientIdentifier,String providerId,String householdIdentifier,Integer patientId);

			]]>
        </signatures>
    </dwr>

    <!-- Servlets -->
    <!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
    <servlet>
        <servlet-name>fileUpload</servlet-name>
        <servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.MobileFormFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formList</servlet-name>
        <servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.MobileFormListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileDownload</servlet-name>
        <servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.MobileFormDownloadServlet</servlet-class>
    </servlet>

    <!-- Add a location header Filter, Necessary a security check for the submitting forms -->
    <filter>
        <filter-name>locationFilter</filter-name>
        <filter-class>${project.parent.groupId}.${project.parent.artifactId}.web.LocationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>locationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Internationalization -->
    <!-- All message codes should start with moduleId.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <!-- /Internationalization -->

</module>
